{% load static %} 
{% load bootstrap5 %} 
{%include 'base.html'%} 

{% block styles %}
<link rel="stylesheet" href="{% static 'css/content.css' %}" />
{% endblock %} 

{% block content%}

<div class="container container_play">
<center>
    <p class="id_play_1">
	<a

		href="{% url 'All_Series' %}"
	>
		RealTimeBroadband Streaming Services - Stream Videos Non - Stop Any Day Any Time <br>

		- Watch Popular TV Shows and Series</a
	>
    </p>


	<p
		class="z_ si34"
		style="
			-ms-flex-direction: row;
			-webkit-box-orient: horizontal;
			-webkit-flex-direction: row;
			flex-direction: row;
			-ms-flex-pack: start;
			-webkit-box-pack: start;
			-webkit-justify-content: flex-start;
			justify-content: flex-start;
			-ms-flex-align: center;
			-webkit-box-align: center;
			-webkit-align-items: center;
			align-items: center;
		"
	>
		<p class="urls">
			<span class="ad">Ad</span>
		<a
			href="https://www.primevideo.com/"
			target="_blank"
			>https://www.primevideo.com/ ▼</a
		>
<br>

	<span
		class="below_urls"
	>
		Amazon Prime members get instant access to the latest Movies, TV Shows and Amazon
		<br />
		Originals.</span
	>
</p>

	<h2>
		<a
			href="{% url 'All_Series' %}"
			class="h2"
			style="
				-ms-flex-direction: row;
				-webkit-box-orient: horizontal;
				-webkit-flex-direction: row;
				flex-direction: row;
				-ms-flex-pack: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-ms-flex-align: center;
				-webkit-box-align: center;
				-webkit-align-items: center;
				align-items: center;
			"
		>
			<span aria-label="&amp;#10148; Visit Website" class="ga_ si22"
				>➤ Shows & Series</span
			></a
		>
	</h2>

	<p class="id_play_1">
			<a
				href="https://www.showmax.com/eng/welcome/ke"
				target="_blank"
				><span style="display: inline; text-transform: inherit" class="si130"
					>Endless entertainment</span
				>
				Today</a
			>
    </p>

		<p class="urls">
				<span class="ad">Ad</span>
			<a
				href="https://www.showmax.com/eng/welcome/ke"
				target="_blank"
				>https://www.showmax.com/eng/welcome/ke ▼ </a>

<br>

		<span
			class="below_urls"
			>Unlimited movies, TV shows, and more. Watch anywhere. Cancel anytime.
			</span
		>
    </p>


				<h2>
					<a
						href="https://www.showmax.com/eng/welcome/ke"
						target="_blank"
						class="h2"
						style="
							-ms-flex-direction: row;
							-webkit-box-orient: horizontal;
							-webkit-flex-direction: row;
							flex-direction: row;
							-ms-flex-pack: center;
							-webkit-box-pack: center;
							-webkit-justify-content: center;
							justify-content: center;
							-ms-flex-align: center;
							-webkit-box-align: center;
							-webkit-align-items: center;
							align-items: center;
						"
					>
						<span aria-label="&amp;#10148; Visit Website" class="ga_ si22">
							➤ Visit Showmax</span
						></a
					>
				</h2>


        <p class="id_play_1">
		<a
			href="https://www.primevideo.com/"
			target="_blank"
			>Welcome to Amazon Prime Video
</a
		>
    </p>


    <p class="urls">
		<a
			href="https://www.primevideo.com/"
			target="_blank"
			><span class="ad">Ad</span> https://www.primevideo.com/ ▼</a
		>

		<br>

		<span class="below_urls"
			>Enjoy exclusive Amazon Originals as well as popular movies and TV shows. <br>
			 Join Prime Video now for USD 5.99 per month. Cancel anytime.</span
		>
    </p>

		<h2>
			<a
				href="https://www.primevideo.com/"
				target="_blank"
				class="h2"
				style="
					-ms-flex-direction: row;
					-webkit-box-orient: horizontal;
					-webkit-flex-direction: row;
					flex-direction: row;
					-ms-flex-pack: center;
					-webkit-box-pack: center;
					-webkit-justify-content: center;
					justify-content: center;
					-ms-flex-align: center;
					-webkit-box-align: center;
					-webkit-align-items: center;
					align-items: center;
				"
				><span aria-label="&amp;#10148; Visit Website" class="ga_ si22"
					>➤ Visit Prime Videos</span
				></a
			>
		</h2>
	</center>
</div>
{%include 'footer.html'%}

{% endblock%}