*{
    font-family: 'Playfair Display',arial,sans-serif;
}

h2{
    font-size: 24px !important;
    font-weight: 700 !important;
    font-family: 'Playfair Display',arial,sans-serif;
    text-decoration: none;
    width: 280px;
    height: auto;
    color: #ffffff !important;
    text-decoration: underline;
    background-color: #ee8100;
    font-weight: 400;
    /* -webkit-box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px -1px rgba(0, 0, 0, 0.20);
    -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px -1px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 20%); */
    border-radius: 1px;
    border: 0px solid #fef8e6;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
}

.h2{
    font-size: 24px !important;
    font-weight: 700 !important;
    font-family: 'Playfair Display',arial,sans-serif;
    height: auto;
    color: #ffffff !important;
    text-decoration: none !important;

}

.h2:hover{
    text-decoration: underline !important;
    color: black !important;
}

a{
    color: #999999;
    text-decoration: none;
}

a:hover{
    color: #999999;
    text-decoration: none;
}

.ad{
    font-family: 'Playfair Display',Arial, sans-serif;
    font-size: 10px;
    background-color: #081126;
    color: #999999;
    font-weight: 400;
    border-radius: 3px;
    border: 1px solid #555555;
    line-height: 10px;

}

.urls{
    font-family: 'Playfair Display',Arial, sans-serif;
    font-size: 11px;
    color: #999999;
    line-height: 11px;

}

.below_urls{
    font-family: 'Playfair Display',Arial, sans-serif;
    font-size: 12px;
    color: #999999;
    flex-shrink: 0;
    display: inline-block;
    overflow: hidden;
    text-transform: none;
    line-height: 17px;
}

.in_url{
    color: #ffffff !important;
}

.a_underlined{
    color: #ffffff !important;
    text-decoration: underline !important;
}


/* play movies styling */

.container_play{
    display: block;
    margin: 0 auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.id_play_1{
    text-transform: uppercase;
    font-size: 18px !important;
    color: #999999;
    font-weight: 400 !important;
    font-family: 'Playfair Display',Arial, sans-serif;
}

.id_play_1 a{
    text-transform: uppercase;
    font-size: 18px !important;
    color: #999999 !important;
    font-weight: 400; 
}

.id_play_2{
    text-transform: uppercase;
    font-size: 18px !important;
    font-weight: 400;
    color: #999999;
    font-family: 'Playfair Display',Arial, sans-serif;
}

.id_play_3{
    color: #ffffff !important;
    text-decoration: underline !important;
}





























.left-arrows,
.right-arrows {
    position: absolute;
    overflow: hidden;
    background-image: url('https://parking.bodiscdn.com/parking/arrows-bg-single.png');
    background-repeat: no-repeat;
    background-size: 50%;
    z-index: 1;
    width: 50%;
    height: 680px;
    top: 140px;
}
.left-arrows {
    background-position: top right;
    transform: scaleX(-1) scale(1) translateX(0vw);
    left: 0px;
}
.right-arrows {
    background-position: top right;
    transform: scale(1);
    right: 0px;
}

@media only screen and (min-width: 1400px) {
    .left-arrows {
        transform: scaleX(-1) scale(1) translateX(0vw);
        background-size: 54%;
        width: 54%;
    }
    .right-arrows {
        transform: translateX(0vw) scale(1);
        background-size: 54%;
        width: 54%;
    }
}
@media only screen and (max-width: 1400px) {
    .left-arrows {
        width: 74%;
        transform: scaleX(-1) translateX(130px) translateY(20px);
    }
    .right-arrows {
        transform: translateX(130px) translateY(20px);
        width: 74%;
    }
}
@media only screen and (max-width: 992px) {
    .left-arrows {
        transform: scaleX(-1) translateX(300px) translateY(10px);
        width: 100%;
    }
    .right-arrows {
        transform: translateX(300px) translateY(10px);
        width: 100%;
    }
}
@media only screen and (max-width: 782px) {
    .left-arrows,
    .right-arrows {
        display: none;
    }

}
